* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}



.header {
	position: relative;
	height: 100vh;
	width: 100vw;
	.nav {
		position: fixed;
		display: flex;
		height: 70px;
		width: 100vw;
		justify-content: space-between;
		background: #333;
		color: #fff;
		align-items: center;
		text-transform: uppercase;
		z-index: 2;

		.logo {
			font-size: 3rem;
			font-weight: bold;
			margin-left: 2rem;
			span {
				color: blue;
			}
		}

		.menu-btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 2rem;
			height: 50px;
			width: 50px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			// display: none;

			&__burger {
				width: 50px;
				height: 6px;
				background: #fff;
				border-radius: 5px;
				transition: all 0.2s ease-in-out;
			}
			&__burger::before,
			&__burger::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 6px;
				background: #fff;
				border-radius: 6px;
				transition: all 0.2s ease-in-out;
			}
			&__burger::before {
				transform: translateY(-16px);
			}
			&__burger::after {
				transform: translateY(16px);
			}
		}

		//ANIMACJA do BURGERA
		.menu-btn.open {
			.menu-btn__burger {
				transform: translateX(-50px);
				background: transparent;
			}
			.menu-btn__burger::before {
				transform: rotate(45deg) translate(35px, -35px);
			}
			.menu-btn__burger::after {
				transform: rotate(-45deg) translate(35px, 35px);
			}
		}

		.nav-items {
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 70px;
			height: 100vh;
			width: 100%;
			left: 100%;
			color: #fff;
			background: #333;
			padding: 15px;
			transition: 0.3s ease-in-out;

			.items {
				list-style-type: none;
				font-size: 3rem;
				// padding-top: 3rem;
				li {
					padding: 1rem;
					border-radius: 6px;
					
					a {
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
		.nav-items.open {
			left: 0;
			// z-index: 2;
		}
	}
}
.hero {
	height: 100vh;
	width: 100vw;
	background-image: url(../img/architecture-1857175_640.jpg);
	background-size: cover;

	.hero-title {
		position: relative;
		margin: 0 auto;
		text-align: center;
		top: 30%;
		background: rgb(255, 255, 255, 0.8);
		width: 100%;
		color: #000;
		font-weight: bold;
		&__main {
			font-size: 4rem;
			padding-bottom: 1rem;
			span {
				color: blue;
			}
		}

		&__text {
			font-size: 2.5rem;
		}
	}
}

.main {
	//ABOUT US
	max-width: 1200px;
	margin: 0 auto;
	.section-white {
		background: #fff;
		.section-title {
			padding-top: 1rem;
			text-align: center;
			text-transform: uppercase;
			color: #333;
			font-size: 2rem;
		}
		.container {
			text-align: center;
			margin: 30px 0;
			font-size: 1.3rem;

			.wrapper {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				padding: 15px;
				.box {
					position: relative;
					height: 250px;
					width: 300px;
					margin: 15px;
					padding: 15px;
					transition: transform 0.2s;

					p {
						padding-top: 10px;
						text-transform: uppercase;
						font-weight: bold;
					}
					.img {
						height: 100%;
						width: 100%;
						text-align: center;
						background-size: cover;
						background-position: center;
						border-radius: 15px 0;
					}
					.one {
						background-image: url(../img/aboutUs/cieplnych-small.jpg);
					}
					.two {
						background-image: url(../img/aboutUs/wentylacja-small.jpg);
					}
					.three {
						background-image: url(../img/aboutUs/air-conditioner-small.jpg);
					}
					.four {
						background-image: url(../img/aboutUs/gazowych-small.jpg);
					}
					.five {
						background-image: url(../img/aboutUs/wodociąg-small.jpg);
					}
					.six {
						background-image: url(../img/aboutUs/kanaliza-small.jpg);
					}
					.seven {
						background-image: url(../img/aboutUs/hydrant-183544_640.jpg);
					}
				}
				.box:hover {
					transform: scale(1.2);
				}
			}
		}
	}

	// OFFERS

	.section-dark {
		background: #333;
		.section-title {
			padding-top: 1rem;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			font-size: 2rem;
		}
		.container {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			text-align: center;

			.card {
				position: relative;
				margin: 30px 30px;
				width: 300px;
				height: 450px;
				overflow: hidden;


				.img {
					width: 100%;
					height: 100%;
					background-position: center;
					background-size: cover;
					border-radius: 15px;
					transition: 0.8s;
					// box-shadow: inset 20px 20px 100px rgb(92, 149, 224);
					.card-shadow {
						height: 100%;
						width: 100%;
						// background: #fff;
						// opacity: .7;
						// border-radius: 15px;
						h3 {
							position: relative;
							text-align: center;
							top: 30%;
							background: rgb(255, 255, 255, 0.3);
							text-transform: uppercase;
							font-size: 2rem;
							color: #000;
						}
					}
				}
				.one {
					background-image: url(../img/offers/kompleks-small.jpg);
				}
				.two {
					background-image: url(../img/offers/quality-small.jpg);
				}
				.three {
					background-image: url(../img/offers/experience-small.jpg);
				}
				.four {
					background-image: url(../img/offers/build-small.jpg);
				}
				.fife {
					background-image: url(../img/offers/guarante-small.png);
				}
				.text {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 30px;
					text-align: center;
					border-radius: 15px;
					background-image: linear-gradient(315deg, #fee2f8 34%, #dcf8 74%);
					transition: 0.8s;
					opacity: 0;
					transform: rotateY(-180deg);
					P {
						text-transform: uppercase;
						font-size: 1rem;
						line-height: 1.5rem;
						font-weight: bold;
						position: relative;
						top: 30%;
					}
				}
			}
			.card:hover {
				.text {
					transform: rotateY(0);
					opacity: 1;
				}
				.img {
					transform: rotateY(180deg);
					opacity: 0;
				}
			}
		}
	}

	//certificat

	.section-white {
		.container {

			flex-wrap: wrap;
			text-align: center;
			padding: 2rem;
			.card {
				display: flex;
				flex-direction: column;
				margin: 15px;
				// height: 400px;
				width: 100%;
				background: #333;
				border-radius: 15px;

				.img {
					height: 300px;
					width: 100%;
					background-image: url(../img/architecture-1857175_640.jpg);
					background-size: cover;
					background-position: center;
				}
				.text {
					padding: 2rem 1rem;
					height: 40%;
					width: 100%;
					text-align: center;
					color: rgb(255, 255, 255);
					font-size: 1.5rem;
					font-weight: bold;
				}
			}
		}
	}
}

@import 'media';
